# 🔥 Folder besar & tak perlu dalam container
node_modules/
vendor/

# 🧪 Fail debug dan log
npm-debug.log
*.log

# ⚙️ Config build Tailwind sahaja – tak perlu dalam runtime
tailwind.config.js
postcss.config.js
package-lock.json

# ⚠️ Fail sistem umum yang patut dielak
.DS_Store
Thumbs.db
.env
